/*HEADER*/
header {
	background-color: #f1c40f;
}



.navbar{
    background: #F6DA14;
    font-size: 130%;
}

.navbar .nav-item .nav-link{
    color: black;
    font-weight: bold;
}

/*BARRA DE INICIO, CATALOGO Y NOSOTROS*/
.list-header{
    list-style: none;
	float: right;
	margin: 10px;
	padding: 10px;
}

.list-header ul{
	display: inline;
}

.list-header button{
	border: 1px solid #f1c40f;
	background-color: #f1c40f;
}

.list-header button:hover{
    border-bottom: 2px solid white; 
}

.catalog-list{
	background-color: #f6e58d;
	margin: 10px;
	padding: 10px;
}



/*FOOTER*/
.pie{
	padding: 20px;
	margin: 10px;
	background-color: #2d3436;
	color: #f1c40f;
	text-align: center;
}

/*SUBHEADER*/

.subheader{
	margin: 10px;
	padding: 10px;
}
/*BARRA DE INICIO, CATALOGO Y NOSOTROS*/
.list-header{
    list-style: none;
	float: right;
	margin: 10px;
	padding: 10px;
}

.list-header ul{
	display: inline;
}

.list-header button{
	border: 1px solid #f1c40f;
	background-color: #f1c40f;
}

.list-header button:hover{
    border-bottom: 2px solid white; 
}

.catalog-list{
	background-color: #f6e58d;
	margin: 10px;
	padding: 10px;
}

/*BARRA DE NAVEGACION	*/

.barra-nav {
	background-color: #2d3436;
	float: left;
	list-style: none;
	height: absolute;
    padding: 0;
    position: relative;
    top: 0;
    bottom: 0;
}

.title-nav{
	padding: 0;
	margin: 30px;
	color: #535c68;
	text-align: center;
}

.caja-texto{
	margin: 40px;
	padding: 3px;
	border-radius: 10px;
	text-align: left;
	color: #7f8c8d;
}

.list-header{
	list-style: none;
	float: right;
}

.el-list{
	color: #535c68;
}

ul a{
	color: #f1c40f;
}

.title{
	font-family: roboto;
}


/*FOOTER*/
.pie{
	padding: 20px;
	margin: 10px;
	background-color: #2d3436;
	color: #f1c40f;
	text-align: center;
}

/*SUBHEADER*/

.subheader{
	margin: 10px;
	padding: 10px;
}