/*MENU NAVEGACIÓN*/
.navbar{
    background: #F6DA14;
	font-size: 130%;
}

.navbar .nav-item .nav-link{
    color: black;
	font-weight: bold;
}

.navbar-brand{
	width: 80%;
}

/*MENU DESPLEGABLE INICIAR SESION*/
.dropdown-menu{
	position: absolute;
	width: 410px;
	left:820px;
}

.redes{
	padding:11px;
}

.redes-s{
	font-size: 110%;	
	background-color: #ece8e8b4;
	padding: 10px;
}


/*SECCIÓN QUIENES SOMOS*/
.container-quienes{
    background-image: url(../img/portadanosotros.jpg);
	background-size: cover;
}

.background-overlay{
	background:rgba(0, 0, 0, 0.8);
	width: 100%;
	height:100%;
}

.quienes{
	font-size: 140%;	
}


/*SECCIÓN OBJETIVOS*/
.objetivos{
	font-size: 140%;
}

/*SECCIÓN TEAM*/
.team{
	background-color: #F6DA14;
}

/*FOOTER*/
.tienda{
    width:20%;
}

i{
	font-size: 230%;
 }
 

